@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --Primário:	#3B3DDB;
    --Hover :#2A2C9F; /*hover*/
    --Fundo-Página: #E9EFF5;
    --Card-Branco: #FFFFFF; /*fundo container*/
    --Texto-Principal:	#1A1A1A;	/*Cor das tarefas ativas.*/
    --Texto-Desativado: #A0A0A0;	/*Tarefas concluídas/ placeholder*/
    --Linhas: #F0F0F0;	/*Linhas separadoras entre as tarefas.*/
}

body{
    background-color: var(--Fundo-Página);
    height: 100vh;
    width: 100vw;
    text-align: left;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    place-items: center;
    place-content: center;
}

main{
    background-color: var(--Card-Branco);
    grid-area: 2/2/3/3;
    min-height: 300px;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.lista{
    padding: 5px;
    margin: 15px;
}

.lista h2{
    color: var(--Primário);
    margin-bottom: 10px;
}

.adicionar{
    display: flex;
    align-items: center;
    background-color: var(--Card-Branco);
    border: 2px solid #ddd;
    width: 100%;
    padding: 0px;
    height: 35px;
    transition: .3s;
    margin-bottom: 20px;
    border-radius: 40px;
    overflow: hidden;
}

#itxt{
    flex: 1;
    padding: 12px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.botao{
    background-color: var(--Primário);
    color: var(--Card-Branco);
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    border: none;
    border-radius: 40px;
    margin: 0px;
    z-index: 1;
    height: 35px;
    align-content: flex-end;
}


.lista .item{
    border: 1px solid var(--Linhas);
    border-radius: 15px;
    height: 30px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.471);
    margin-bottom: 10px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}

.mark{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--Card-Branco);
    border: 1px solid var(--Linhas);
    color: var(--Texto-Desativado);
}

#check{
    background-color: var(--Linhas);
    margin-right: 5px;
}

.item.concluida{
    opacity: 0.6;
    background-color: var(--Linhas);
}

.item.concluida span{
    text-decoration: line-through;
    color: var(--Texto-Desativado);
}

.item.concluida .check-btn{
    background-color: var(--Primário);
    color: white;
}

#delete{
    background-color: var(--Linhas);
    margin-right: 5px;
}

#check:hover{
    background-color: var(--Primário);
    color: var(--Card-Branco);
    height: 22px;
    width: 22px;
}

#delete:hover{
    background-color: red;
    color: var(--Card-Branco);
    height: 22px;
    width: 22px;
}



